[context]
clear_screen = False
enable = True
grow_stack_down = False
ignore_registers = 
layout = legend regs stack code args source memory threads trace extra
libc_args = False
libc_args_path = 
nb_lines_backtrace = 5
nb_lines_backtrace_before = 2
nb_lines_code = 5
nb_lines_code_prev = 3
nb_lines_stack = 8
nb_lines_threads = -1
peek_calls = True
peek_ret = True
redirect = 
show_opcodes_size = 0
show_registers_raw = false
show_source_code_variable_values = True
show_stack_raw = True

[dereference]
max_recursion = 7

[entry-break]
entrypoint_symbols = main _main __libc_start_main __uClibc_main start _start

[gef]
autosave_breakpoints_file = 
bruteforce_main_arena = False
buffer = True
debug = False
disable_color = False
extra_plugins_dir = 
follow_child = True
main_arena_offset = 
readline_compat = False
show_deprecation_warnings = False
tempdir = /tmp/gef

[got]
function_not_resolved = blue
function_resolved = green

[heap-analysis-helper]
check_double_free = True
check_free_null = False
check_heap_overlap = True
check_uaf = True
check_weird_free = True

[heap-chunks]
peek_nb_byte = 16

[hexdump]
always_show_ascii = False

[highlight]
regex = True

[pattern]
length = 1024

[pcustom]
max_depth = 4
struct_path = /tmp/gef/structs
structure_name = bold blue
structure_size = bold green
structure_type = bold red

[print-format]
max_size_preview = 10

[process-search]
ps_command = /usr/bin/ps auxww

[search-pattern]
max_size_preview = 10
nr_pages_chunk = 1024

[theme]
address_code = bold red
address_heap = bold  purple
address_stack = bold yellow
context_title_line = gray
context_title_message = bold cyan
default_title_line =  gray
default_title_message = bold cyan
dereference_base_address = bold cyan
dereference_code = gray
dereference_register_value = bold blue
dereference_string = yellow
disassemble_current_instruction = green
old_context = gray
registers_register_name = bold blue
registers_value_changed = bold green
source_current_line = green
table_heading = bold blue 

[trace-run]
max_tracing_recursion = 1
tracefile_prefix = ./gef-trace-

[aliases]
ctx = context
telescope = dereference
flags = edit-flags
start = entry-break
fmtstr-helper = format-string-helper
hl = highlight
highlight set = highlight add
hla = highlight add
hlc = highlight clear
highlight ls = highlight list
hll = highlight list
highlight delete = highlight remove
highlight del = highlight remove
highlight unset = highlight remove
highlight rm = highlight remove
hlr = highlight remove
nb = name-break
pattern offset = pattern search
pf = print-format
ps = process-search
status = process-status
lookup = scan
grep = search-pattern
xref = search-pattern
sc-get = shellcode get
sc-search = shellcode search
screen-setup = tmux-setup
m = start
ls = !ls
cls = !clear
nvim = !nvim
